*{
    margin: 0;
    padding: 0;
}
.cardens{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
}
ul{
    padding: 20px;
    background: blue;
    margin: 20px;
    width: 20%;
    height: 300px;
    border-radius: 10px;
}
li{
    list-style: none;
    color: white;
}