*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img{

    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}
.card{
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;  
    align-items: center;
    margin-top: 4%;
    justify-self: center;
}
button{
    width: 100%;
    padding: 10px;
    background-color: lightblue;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 5px 0px;
}